<!DOCTYPE html>
<html>
{% load static %}

<head>
    <title>The Library</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
    
<body>
    {% include 'partials/navbar.html' %}
    
    <div class="center">
        <div class="description">
            {% if user.is_authenticated %}
            <h1>Hello {{user.first_name}}!</h1>
            <span>Welcome back to the The Library.</span><br>
            <span>You can view, add, borrow, or return books from our collection.</span><br>
            <span>Click on any book card to view its details, availability, and borrowing history.</span><br>
            {% else %}
            <h1>Welcome to The Library!</h1>
            <span>Explore our collection of books, available to all our users!</span><br>
            <span>Click on any book card to view its details, availability, and borrowing history.</span><br>
            <span>
                <a href="{% url 'login' %}?next={{ request.path }}">Log in</a> to your account, or 
                <a href="{% url 'register' %}?next={{ request.path }}">register</a> for a new account.
            </span><br>
            {% endif %}
        </div>
    </div> 
    
    {% include 'partials/featured.html' %}
    {% include 'partials/footer.html' %}
    
    <script>
        window.featuredParams = {
            page: 'home',
            genre: null
        }
    </script>
    <script src="{% static 'scripts/featured.js' %}"></script>
    <script src="{% static 'scripts/modal.js' %}"></script>
    <script src="{% static 'scripts/dropdown.js' %}"></script>
</body>

</html>