{% url 'home' as home_url %}
{% url 'library' as library_url %}
{% url 'register' as register_url %}
{% url 'login' as login_url %}
{% url 'borrows' as borrows_url %}
{% load static %}

{% if user.is_authenticated %}
{% include 'partials/modal-logout.html' %}
{% endif %}

<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item {% if request.path == home_url %}active{%endif%}">
            <a class="nav-link" href="{{home_url}}">Home</a>
        </li>
        {% with request.path|slice:"0:9" as path_prefix %}
        <li class="nav-item {% if request.path == library_url or path_prefix == "/library/" %}active{% endif %}">
            <a class="nav-link" href="{{library_url}}">Books</a>
        </li>
        {% endwith %}
        <li class="nav-item dropdown-menu" id="nav-genres">
            <div class="nav-link">Genres</div>
            <div class="nav dropdown-content" style="max-width: 600px;">
                {% if genres %}
                {% for genre in genres %}
                <a href="{{library_url}}genre/{{genre.name|lower}}">{{ genre.name }}</a>
                {% endfor %}
                {% endif %}
            </div>
        </li>
        {% if is_staff %}
        <li class="nav-item">
            <a class="nav-link" href="/admin" target="_blank">Admin Panel
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"
                    fill="currentColor"><!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path d="M384 64C366.3 64 352 78.3 352 96C352 113.7 366.3 128 384 128L466.7 128L265.3 329.4C252.8 341.9 252.8 362.2 265.3 374.7C277.8 387.2 298.1 387.2 310.6 374.7L512 173.3L512 256C512 273.7 526.3 288 544 288C561.7 288 576 273.7 576 256L576 96C576 78.3 561.7 64 544 64L384 64zM144 160C99.8 160 64 195.8 64 240L64 496C64 540.2 99.8 576 144 576L400 576C444.2 576 480 540.2 480 496L480 416C480 398.3 465.7 384 448 384C430.3 384 416 398.3 416 416L416 496C416 504.8 408.8 512 400 512L144 512C135.2 512 128 504.8 128 496L128 240C128 231.2 135.2 224 144 224L224 224C241.7 224 256 209.7 256 192C256 174.3 241.7 160 224 160L144 160z"/>
                </svg>
            </a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item dropdown-menu" id="nav-profile" style="max-width: 300px;">
            <div class="nav-link"><b>Profile</b></div>
            <div class="nav dropdown-content">
                <span><b>{{user.username}}</b></span>
                <a href="{{borrows_url}}">Borrows</a>
                <a id="button-logout">Logout</a>
            </div>
        </li>
        {% else %}
        <li class="nav-item {% if request.path == login_url %}active{%endif%}">
            <a class="nav-link" href="{{login_url}}">Login</a>
        </li>
        <li class="nav-item {% if request.path == register_url %}active{%endif%}">
            <a class="nav-link" href="{{register_url}}">Register</a>
        </li>
        {% endif %}
        <li class="navbar-title">
            <a class="nav-link" href="/">The Library</a>
        </li>
    </ul>
</nav>

{% if user.is_authenticated %}
<script src="{% static 'scripts/modal-logout.js' %}"></script>
{% endif %}